
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quan Tri Lịch Hẹn</title>
    <th:block th:replace="base"></th:block>
</head>
<body>
    <main class="container">
        <h1 class="text-center text-info mt-1">Quản Trị Lịch Hẹn</h1>
        <form th:action="@{/appointments}">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Trạng thái lịch hẹn" name="status">
            </div>
            <div class="mb-3">
                <input type="datetime-local" class="form-control" placeholder="Ngày Hẹn" name="appointmentDate">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Tên Bác Sĩ" name="doctorName">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Tên Bệnh Nhân" name="patientName">
            </div>
            <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
        </form>
        <a th:href="@{/appointments/add}" class="btn btn-success mt-1">Thêm Lịch Hẹn</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Bệnh Nhân</th>
                    <th>Bác Sĩ</th>
                    <th>Ngày Hẹn</th>
                    <th>Trạng Thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="a: ${appointments}">
                    <td></td>
                    <td th:text="${a.id}"></td>
                    <td th:text="${a.getPatient().getUser().getLastName()}"></td>
                    <td th:text="${a.getDoctor().getUser().getLastName()}"></td>
                    <td th:text="${a.getAppointmentDate()}"></td>
                    <td th:text="${a.getStatus()}"></td>
                    <td>
                        <button class="btn btn-danger">&times;</button>
                        <a href="#" class="btn btn-info">&Alpha;</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </main>
</body>
</html>