<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Trang Chu</title>
    <th:block th:fragment="styles">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </th:block>

</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/appointments}" sec:authorize="isAuthenticated()">Lịch Hẹn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/doctors}" sec:authorize="isAuthenticated()">Bác Sĩ</a>  
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" sec:authorize="isAuthenticated()">Bệnh Nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" th:href="@{/logout}" sec:authorize="isAuthenticated()">Đăng xuất</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div th:fragment="sidebar">
        <div id="sidebar" class="bg-dark text-white vh-100 p-3" style="width: 250px;">
            <h6 class="text-uppercase text-secondary mb-3">Healcare Administration</h6>
            <ul class="nav flex-column">
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/doctors}" sec:authorize="isAuthenticated()">Doctor</a>  
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/patients}" sec:authorize="isAuthenticated()">Patient</a>  
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/appointments}" sec:authorize="isAuthenticated()">Appointment</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/appointments}" sec:authorize="isAuthenticated()">Health Records</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/statistics}" sec:authorize="isAuthenticated()">Statistics</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/appointments}" sec:authorize="isAuthenticated()">Payment</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/appointments}" sec:authorize="isAuthenticated()">Rating</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/appointments}" sec:authorize="isAuthenticated()">Messages</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/notifications}" sec:authorize="isAuthenticated()">Notifications</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center mb-2">
                    <a class="nav-link" th:href="@{/admins}" sec:authorize="isAuthenticated()">Admin</a>
                    <a href="#" class="text-success text-decoration-none">+ Add</a>
                </li>
            </ul>
        </div>
    </div>

    <footer th:fragment="footer">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Jumbotron Example</h1>
            <p>Lorem ipsum...</p>
        </div>
    </footer>
</body>
</html>