
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quan Tri Bac Si</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>
    
    <main class="container">
        <h1 class="text-center text-info mt-1">Quản Trị Bác Sĩ</h1>
        <form th:action="@{/doctors}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Enter Ten Bac Si" name="doctorName">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter Chuyen Khoa" name="specialization">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter Benh Vien" name="hospital">
            </div>
            <button type="submit" class="btn btn-primary">Tim Kiem</button>
        </form>
        <a th:href="@{/doctors}" class="btn btn-success mt-1">Them Bac Si</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Ho</th>
                    <th>Ten</th>
                    <th>Ten Benh Vien</th>
                    <th>Chuyen Nganh</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="q: ${doctors}">
                    <td></td>
                    <td th:text="${q.id}"></td>
                    <td th:text="${q.getUser().getFirstName()}"></td>
                    <td th:text="${q.getUser().getLastName()}"></td>
                    <td th:text="${q.hospital}"></td>
                    <td th:text="${q.specialization}"></td>
                    <td>
                        <button class="btn btn-danger">&times;</button>
                        <a href="#" class="btn btn-info">&Alpha;</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </main>
    <div th:replace="base :: footer"></div>
</body>
</html>