<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang Chu</title>
    <th:block th:replace="base"></th:block>
</head>
<body>
    <main class="container">
        <a heref="#" class="btn btn-success mt-1">Them Bac Si</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Ten Benh Vien</th>
                    <th>Chuyen Nganh</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="q: ${doctors2}">
                    <td></td>
                    <td th:text="${q.id}"></td>
                    <td th:text="${q.hospital}"></td>
                    <td th:text="${q.specialization}"></td>
                    <td>
                        <button class="btn btn-danger">&times;</button>
                        <a href="#" class="btn btn-info">&Alpha;</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </main>
</body>
</html>